<!-- frontend/templates/frontend/dashboard.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal - CRUD Livon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao CRUD de Usuários da Livon!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'user-list' %}">Listar Usuários</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>  <!-- Adicione a URL para logout -->
            </ul>
        </nav>
    </header>

    <main>
        <h2>O que você gostaria de fazer hoje?</h2>
        <section>
            <p>Aqui você pode gerenciar usuários, visualizar relatórios e muito mais.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 CRUD Livon. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
